/* Empty. Add your own CSS if you like */

body {
  background: #fcfcfa;
  color: #818078;
  font-family: Futura, sans-serif;
}

.container {
  max-width: 90%;
  margin: 10px auto;
}

.background.scroll-content {
  background: url(../img/bienvenido.png) no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
  z-index: 2;
}

.background2.scroll-content {
  background: url(../img/toronto-back.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
  z-index: -1;
}

.img-circle {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


