<ion-view view-title="Cerrar sesión">
  <ion-content class="background2" scroll="false">

    <!--<h4 class="title" style="text-align:center"> Esperamos tenerte pronto de vuelta. </h4>-->

    <!--<button class="button button-assertive button-block button-outline" ng-click="showLogOutMenu()">Salir</button>-->

    <div class="button-bar">
      <a class="button icon-left ion-social-google button-assertive" ng-click="showLogOutMenuGoogle()">Adiós Google</a>
    </div>
    

    <!--  style="vertical-align=middle"  <a class="button button-assertive button-block button-outline" ng-click="showLogOutMenu()">
        Salir
    </a>-->
  </ion-content>
</ion-view>